<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Intergeek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/styles/telainicial.css"
    />
    <script src="main.js"></script>
    <style></style>
  </head>
  <body>
    <div class="body">
      <div class="left">
        <div class="title">
          <p>InterGeek</p>
          <div class="descricao">
            <h4>
              "Explore a grandiosidade do universo geek na InterGeek, seu
              destino único e exclusivo para tudo o que você ama no mundo nerd,
              reunido em um lugar só para você."
            </h4>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="button">
          <button onclick="window.location.href='/Users/Login'">Let's Go!</button>
        </div>
      </div>
    </div>
  </body>
</html>
