* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.whatsapp {
  position: fixed;
  bottom: 5vw;
  right: 3vw;
  z-index: 9999;
}
.treco { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body {
  min-height: 100vh;
  background-color: white;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1vw 5vw;
  background: rgb(27, 19, 173);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header h2 {
  color: white;
}

.logo {
  height: 10vh;
  width: 8vw;
  margin-right: 0;
}

.icon-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
}

.icon-logo a {
  font-size: 2vw;
  color: white;
  font-weight: 800;
  text-decoration: none;
}

.icon-logo a:hover {
  text-decoration: none;
  color: white;
}

.lupa,
.carrinho {
  width: 1.3vw;
  height: 2.5vh;
  align-items: center;
  margin-left: 0.5vw;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 1vw;
}

.navbar a {
  font-size: 1.2vw;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 3vw;
}
.barraPesquisa {
  display: flex;
  align-items: center;
}

.barraPesquisa ::placeholder {
  font-size: 1vw;
}

.barra {
  margin-left: 0;
  margin-right: 0;
  width: 30vw;
  height: 4.5vh;
  outline: 0;
  border-radius: 1.4vw;
}


.navbar a:hover {
  text-decoration: none;
  color: black;
}

/* .boxProduto {
  padding: 4vw;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15vw;
  background-color: rgb(238, 238, 238);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2vw;
  text-align: center;
  align-items: center;
  display: flexbox;
} */
.boxProduto {
  padding: 4vw;
  position: relative; /* Alterado para relative */
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15vw;
  background-color: rgb(238, 238, 238);
  border-radius: 2vw;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column; /* Adicione isso para alinhar o conteúdo no centro vertical */
  width: 60%;
  margin: auto;
  margin-top: 15vw;
  margin-bottom: 10vw;
}
.tituloProduto {
  margin-bottom: 1vw;
  flex-direction: row;
  padding: 1.1vw;
  background-color: rgb(27, 19, 173);
  border-radius: 1.4vw;
}
.tituloProduto h2 {
  color: white;
  font-size: 1.4vw;
}
.descricaoProduto {
  margin-top: 2vw;
  margin-bottom: 2vw;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.3vw;
}
.imgProduto img {
  flex-direction: row;
  max-width: 20vw;
  max-height: 40vh;
  margin-bottom: 2vw;
}

/* gostaria de deixar essa "caixinha no centro" */
.precoProduto {
  display: flex;
  flex-direction: row;
  font-size: 1.3vw;
  padding: 1vw;
  background-color: rgb(27, 19, 173);
  border-radius: 1.4vw;
  text-align: center;
  max-width: 7vw;
  max-height: 7vh;
  margin: auto;
  line-height: 3vh;
}
.precoProduto p {
  color: white;
}

.precoProduto a:hover {
  text-decoration: none;
}

button {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  border-radius: 0.7vw;
  background-color: rgb(27, 19, 173);
  border: none;
  padding: 1.1vw;
  width: 15vw;
  height: 8vh;
}

button:hover {
  background-color: rgb(51, 45, 171);
}

.button {
  color: white;
  font-size: 1.2vw;
}

.carrinhoProduto {
  margin-top: 1.5vw;
  flex-direction: row;
}

/* footer */

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(27, 19, 173);
  align-items: center;
}

.rodape {
  display: flex;
  color: white;
  text-align: center;
}

.rodape ul {
  margin-left: 3vw;
  width: 25%;
  text-decoration: none;
  list-style-type: none;
}

.rodape h3 {
  margin-bottom: 2vh;
  font-weight: 800;
  font-size: 1.5vw;
}

.rodape a:hover {
  text-decoration: none;
  color: black;
}

footer a {
  font-size: 1.3vw;
  color: white;
  text-decoration: none;
}

.rodape ul li {
  margin: 1.3vh;
}
